* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* color: red; */
  /* padding: 70px; */
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: url('https://cdn.discordapp.com/attachments/986608357735530496/1192119668706656327/70c3ff97957a8a23fdf7a688f2583d5462fd8c4c.gif') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}
h1{
  color:rgb(100, 100, 100);
}

/* styles.css */

.product-list {
  font-family: 'Arial', sans-serif;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.price {
  color: #ff6b81;
  float:right;
}


button {
  background-color: #ff6b81;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

p {
  text-align: center;
  color: #555;
  font-style: italic;
}

input[type="text"] {
  /* width: 100%; */
  margin: 20px auto;
  padding: 10px; /* Adjust padding for better appearance */
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc; /* Add border for better visibility */
  border-radius: 4px; /* Add border-radius for rounded corners */
}
.credit,.credit a{
  font-size: 12px;
  color:rgb(154, 152, 152);
  font-style: oblique;
}
.credit:hover,.credit a:hover{
  font-size: 12px;
  background-color: white;
  color:black;
  font-style: oblique;
}